<nav>
<a href="/">美食主页</a>
		<a href="/about/">兰州牛肉面</a>
		<a href="/ikun/">杏皮茶</a>
        <a href="/1">鸡蛋醪糟</a>
        <a href="/book">牛犊肉</a>
    </nav>
        <style>
            a{color: rgb(30, 48, 63);
            margin: 4%;border: 3pm;}
        </style>